@charset "UTF-8";
@media all
{
  .field-form-correct {
    color: #390;
  }  
  .field-form-wrong {
    color: #c00;
  }
  
  dl.field-form-submit-info {
    margin-bottom: 50px;
  }
  dl.field-form-submit-info dt {
    background: #f8f8f8;
    clear: both;
    color: #000;   
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 15%;
  }
  dl.field-form-submit-info dd {
    margin: 2px 0;
    padding: 5px 0;
  }
  
  dl.field-form-submit-result dt {
    font-weight: bold; 
  }
  .field-form-answer {
    background: #f8f8f8;
    border: 1px #666 solid;
    color: #666; 
    margin-bottom: 1.2em; 
    padding: 10px;
  }
}